<!-- ejs tag to include the header section of the webpage -->
<%- include('header'); -%>

<div class="error-div">
  <h1 class="error-head">404</h1>
  <div class="panda">
    <p>Panda is eating</p>
    <img class="error-img " src="images/pandaEating.png" alt="">
  </div>


</div>

<!-- ejs tag to include the footer section of the webpage -->
